/* App.css */
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	  sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }

  .main-content {
	padding-top: 80px; /* Ajusta según la altura de tu barra de navegación */
  }
  
  
  .content {
	margin-top: 70px; /* Ajusta este valor según la altura de tu navbar */
  }
  /* Añade más estilos globales o específicos de la app aquí */
  
  @media (max-width: 768px) {
	.main-content {
	  padding-top: 120px; /* Ajusta según la altura de tu barra de navegación */
	}
	  }
  
