.category-card {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.category-card.reversed {
  flex-direction: column-reverse; /* Alternar la orientación para dispositivos móviles */
}

.category-image-content {
  width: 100%;
  height: 300px; /* Ajusta la altura según necesites */
  background-size: cover;
  background-position: center;
  position: relative;
}

.category-image-content::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to right, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0) 100%);
}

.category-details {
  padding: 20px;
  background-color: #fff;
  text-align: left; /* Alinear texto a la izquierda */
}

.category-title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}

.category-description {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

.category-button {
  padding: 10px 20px;
  background-color: #d80000;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.category-button:hover {
  background-color: #ff0000;
}

@media (min-width: 768px) {
  .category-card {
    flex-direction: row;
  }

  .category-card.reversed {
    flex-direction: row-reverse; /* Alternar la orientación para vistas amplias */
  }

  .category-image-content::after {
    background-image: linear-gradient(to right, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0) 100%);
  }

  .category-details {
    width: 50%;
  }
}
