.featured-models-container {
    padding: 20px 0;
    background-color: #f5f5f5;
}

.models-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 35px;
}

.model-card {
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.model-card:hover {
    transform: translateY(-10px);
}

.model-image {
    width: 100%;
    height: 200px; /* Reducir la altura según necesites */
    object-fit: cover;
}

.model-details {
    padding: 15px;
    text-align: center;
}

.model-details h3 {
    font-size: 1.5rem;
}

.model-details p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 10px;
}

.model-more-info {
    padding: 8px 16px;
    background-color: #d80000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s;
}
  
.model-more-info:hover {
    background-color: #ff0000;
}

.slick-slider .slick-track {
  display: flex;
  align-items: center;
}

.slick-slide {
    margin-right: 30px; /* Añade espacio entre slides */
    margin-left: 30px;
    overflow: hidden;
}

.slick-list {
    overflow: hidden;
    margin: 0 -15px; /* Ajuste negativo para compensar los márgenes extra de slick-slide */
}

/* Estilos para el botón 'Ver Más' de cada modelo */
.model-more-info {
  padding: 10px 20px;
  background-color: #d80000;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: block; /* o inline-block según tu diseño */
  text-align: center;
  margin-top: 15px;
}

.model-more-info:hover {
  background-color: #ff0000;
}

.featured-models-container .models-grid{
  padding: 40px 60px; /* Más espacio lateral para las flechas */
  background-color: #f5f5f5;
  overflow: hidden;
}

.custom-arrow {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #d80000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.custom-arrow:hover {
    background-color: #ff0000;
    transform: scale(1.1);
}

.slick-prev {
    left: 10px;
}

.slick-next {
    right: 10px;
}


@media (max-width: 768px) {
  .featured-models-container .slick-slide {
    margin: 0 20px; /* Ajustar márgenes en dispositivos móviles */
  }

  .featured-models-container .slick-list {
    margin: 0 -20px;
  }

  .featured-models-container .slick-prev,
  .featured-models-container .slick-next {
    display: none; /* Ocultar flechas en pantallas pequeñas */
  }
  .slick-prev { left: 25px; } /* Flecha izquierda más a la izquierda */
  .slick-next { right: 25px; } /* Flecha derecha más a la derecha */
}