.footer {
    background-color: #1b1b1b; /* Un tono de negro más suave */
    color: #ccc; /* Gris claro para el texto que mejora la legibilidad */
    padding: 40px 20px; /* Espaciado generoso */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fuente moderna y limpia */
    line-height: 1.6; /* Espaciado de línea para mejor legibilidad */
    font-size: 0.9rem; /* Tamaño de fuente sutil */
    border-top: 1px solid #444; /* Separador sutil */
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px; /* Ancho máximo para el contenido */
    margin: 0 auto; /* Centra el contenido */
}

.footer-section {
    margin: 10px 0;
}

.footer-logo {
    display: block;
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #d80000; /* Color del logo que contrasta */
    font-weight: bold;
}

.footer-links {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.footer-link {
    color: #ccc;
    margin-bottom: 10px; /* Espaciado entre enlaces */
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: #d80000; /* Color cuando se hace hover que contrasta */
}

.contact-info {
    margin: 10px 0;
}

.contact-info-item {
    color: #ccc;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.contact-info-item:hover {
    color: #d80000; /* Consistencia en el efecto hover */
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }

    .footer-section {
        margin: 20px 0;
    }
}
.admin-login {
    margin-top: 10px;
}

.footer-link.admin-login {
    font-weight: bold; /* Opcional: para darle énfasis */
    font-size: 0.9rem; /* Tamaño de fuente adecuado */
    padding: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.footer-link.admin-login:hover {
    transform: scale(1.05); /* Efecto para llamar la atención al área de admin */
    background-color: rgba(216, 0, 0, 0.7); /* Fondo semitransparente al hacer hover */
    color: white;
}