.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    transform: scale(0);
    animation: scaleUp 0.3s forwards;
}

@keyframes scaleUp {
    to {
        transform: scale(1);
    }
}

.modal-close-button {
    float: right;
    background: #ff4545;
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    border-radius: 50%;
    padding: 0 8px;
}

.modal-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.modal-details {
    margin-top: 15px;
}

.test-drive-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
