/* styles/VehiclesGridPage.css */

.vehicles-grid {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
    padding: 10px;
    justify-content: center; /* Alinear tarjetas a la izquierda */
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; 
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s; /* Transición suave al cambiar estados */
}

.scroll-to-top:hover {
    background-color: #0056b3; /* Un poco más oscuro al pasar el ratón */
}

.search-and-sort-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f8f9fa;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.search-input,
.sort-select {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.filter-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 0.9rem; /* Reducir el tamaño de la fuente para los filtros */
}

.filter-checkbox input[type="checkbox"] {
    margin-right: 5px;
}

.filter-checkbox label {
    margin: 0;
}

.filters-sidebar {
    flex-basis: 25%;
    min-width: 200px;
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow-y: auto;
}

.filter-list {
    margin-bottom: 20px;
}

.filter-list.collapsed {
    display: none;
}

.filters-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #f8f9fa;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.filter-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.9rem;
}

.vehicles-page-container {
    display: flex;
    max-width: 1200px;
    margin: auto;
}

.vehicles-display-area {
    flex-grow: 1;
    padding-left: 20px;
}

.filter-title {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    transition: transform 0.3s ease;
}

.collapsed .arrow {
    transform: rotate(-90deg);
}
