/* Carousel.css */
.carousel {
	display: flex;
	overflow-x: auto; /* Permite desplazamiento horizontal */
	scroll-snap-type: x mandatory; /* Asegura que las imágenes se ajusten al desplazarse */
	-webkit-overflow-scrolling: touch; /* Para desplazamiento táctil suave en iOS */
  }
  
  .carousel-slide {
	flex: none; /* No permite que las diapositivas del carrusel crezcan o se encojan */
	scroll-snap-align: start; /* Alinea las imágenes al desplazarse */
	width: 100%; /* Cada diapositiva del carrusel ocupa todo el ancho del contenedor */
	position: relative; /* Posicionamiento relativo para los elementos internos */
	display: flex; /* Utiliza flexbox para centrar la imagen dentro de la diapositiva */
	justify-content: center; /* Centra la imagen horizontalmente */
	align-items: center; /* Centra la imagen verticalmente */
  }
  
  .carousel-slide img {
	max-width: 100%; /* Máximo ancho de la imagen dentro de la diapositiva */
	max-height: 500px; /* Máximo altura para controlar el tamaño de la imagen */
	display: block; /* La imagen no será inline */
  }
  